/* load custom fonts */
@font-face {
    font-family: "titleFont";
    src: url("../fonts/Brewsky.ttf"); 
}

@font-face {
    font-family: "Sniglet";
    src: url("../fonts/Sniglet-Regular.ttf");
}

/* set top and bottom margins */
.col-md-6 {
    margin: 20px 0px 20px 0px;
}

/* set background image */
body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

h1 {
    font-family: "titleFont";
    font-size: 3.5rem;
    color: #0c8191; 
    padding-top: 73px;
}

/* main game board css */
#main {
    max-width: 471px;
    margin: auto;
    background-color: rgb(12,129,145,0.5);
    padding: 5px;
    min-height: 639px;
    font-family: 'Sniglet', cursive;
}

.txtdisplay {
    background-color: rgba(61, 132, 141, 0.8);
    color: white;
}

.bank {
    height: 152px;
}

.fighter-pic {
    width: 100px;
    height: 100px;
    padding: 0px 5px 5px 5px;
    display: block;
}

.fighter {
    border-style: solid;
    border-color:#0c8191;
    border-width: 2px;
    max-width: 200px;
    display: inline-block;
    text-align: center;
    background-color: white;
}

