@font-face {
    font-family: "titleFont";
    src: url("../fonts/Brewsky.ttf"); 
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

h1 {
    font-family: "titleFont";
    font-size: 3rem;
    color: #0c8191; 
    text-align: center;
}

#main {
    max-width: 500px;
    margin: auto;
    background-color: rgb(118, 118, 73, 0.5);
    padding: 5px;
}

.fighter-pic {
    width: 100px;
    height: 100px;
    padding: 0px 5px 5px 5px;
    display: block;
}

.fighter {
    border-style: solid;
    border-color:#0c8191;
    border-width: 2px;
    max-width: 200px;
    display: inline-block;
    text-align: center;
    background-color: white;
}

